@import "tailwindcss";

@layer utilities {
  .bg-grid-pattern {
    background-color: #ffffff;
    background-image: 
      linear-gradient(to right, rgba(34, 197, 94, 0.4) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(34, 197, 94, 0.4) 1px, transparent 1px);
    background-size: 50px 50px; /* Ukuran kotak mirip buku matematika */
    background-position: center top;
  }
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Sembunyikan scrollbar untuk tampilan estetik */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #22c55e; border-radius: 4px; }